body{
  font-family:Arial;
  padding:40px;
  background:#f8fafc;
}

.item{
  background:white;
  padding:15px;
  margin-bottom:10px;
  border-radius:6px;
}

.item h3{
  cursor:pointer;
  margin:0;
}

.item p{
  display:none;
  margin-top:10px;
}
